<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.berserkclub.evotorereceipt">

    <uses-permission android:name="ru.evotor.permission.receipt.print.INTERNET_RECEIPT" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_send"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
